<div class="deck-list">
    <div class="flex flex-wrap justify-center flex-row list-content">
        <div *ngIf="pagination.loading" class="basis loading-content">
            <igx-icon class="animate-spin h-5 w-5 mr-3 loading-size" viewBox="0 0 24 24" family="material-symbols" >progress_activity</igx-icon>
        </div>
        
        @for (card of deckList; track card.id) {
            
            <div *ngIf="!pagination.loading" class="basis card-content">

                <deck-card 
                    [card]="card" 
                    [elevated]="this.deck.cardMap[card.name]"
                    (add-deck)="addToDeck($event)"
                    (image-loading)="finishedLoadingImage($event)" >
                </deck-card>
            </div>
        } @empty {
            <span *ngIf="!pagination.loading" class="pokemon-font header-title yellow text-shadow" >
                Empty list of decks
            </span>
            
        }
    </div>
    <igx-paginator #paginator
        [page]="pagination.page"
        [perPage]="pagination.size"
        [selectOptions]="[pagination.size]"
        [totalRecords]="pagination.totalRecords"
        (pageChange)="pageChange($event)">
    </igx-paginator>
</div>
