@use "igniteui-angular/theming" as *;
@import "Color";

:host ::ng-deep{
    .content{
        padding: 16px;
        
        margin: 0px;
    }
    .logo-content{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .pokemon-logo{
            height: 56px;
        }
        .header-title{
            margin-top: -11px;
            margin-left: 8px;
            font-weight: 100;
        }
    }
    .background-content{
        // background: url('/assets/image/background.jpg');
        background-size: cover;
        height: calc(100vh - 56px);
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    h1.igx-navbar__title{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        margin: 0px;
    }
    .edit-deck-content{
        display: flex;
        margin-right: 140px;
    }
    .igx-nav-drawer__aside{
        background-color: $dark-blue;
        color: white;
        text-align: center;
        h1{
            font-size: 17px;
            color: white;
        }
    }
    .deck-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .igx-button--outlined{
        color: $yellow;
        border-color: $yellow;
        &:hover{
            background-color: $primary-200;
            color: $dark-blue;
        }
    }
    .yellow-input-group{
        &.igx-input-group--focused{
            .igx-input-group__bundle::after{
                border-color: $yellow;
                color: $yellow;
            }
            .igx-input-group__line{
                background: $yellow-shadow;
            }
        }
        .igx-input-group__label{
            color: $yellow;
        }
        .igx-input-group__bundle{
            border-color: $yellow;
        }
        .igx-input-group__bundle::after{
            border-color: $yellow;
        }
        .igx-input-group__input, .igx-input-group__textarea{
            color: $yellow;
        }
    }
}

$custom-navbar-theme: navbar-theme(
    $text-color: $yellow,
    $background: $dark-blue,
    $idle-icon-color: #151515,
    $hover-icon-color: $dark-blue
);

:host {
    @include css-vars($custom-navbar-theme);
}
.card-content{
    padding: 8px;
}