$dark-blue: #3c5aa6;
$yellow-shadow:#c7a008;
$dark-yellow:$yellow-shadow;
$shadow-yellow:$yellow-shadow;
$light-blue:#2a75bb;
$blue:#2a75bb;
$yellow: #ffcb05;

$primary-100:#FFCB05;
$primary-200:#ddae00;
$primary-300:#916d00;
$accent-100:#FFFFFF;
$accent-200:#9b9b9b;
$text-100:#FFFFFF;
$text-200:#e0e0e0;
$bg-100:#2A75BB;
$bg-200:#4487cf;
$bg-300:#67a3ee;

.yellow{
    color: $yellow;
    font-weight: 100;
    &.text-shadow{
        text-shadow: 2px 0 $light-blue, -2px 0 $light-blue, 0 2px $light-blue, 0 -2px $light-blue,
                1px 1px $light-blue, -1px -1px $light-blue, 1px -1px $light-blue, -1px 1px $light-blue;
    }
}