
<igx-list>
    <igx-list-item isHeader="true">
        <div class="flex flex-row">
            <div class="basis-3/4">Seus Decks</div>
            <div class="basis-1/4">
                <div class="button-sample">
                    <button igxButton="outlined" [routerLink]="['/deck/add']"  igxRipple>Adicionar Baralho</button>
                </div>
            </div>
        </div>
        
    </igx-list-item>
    <!-- <igx-list-item>Item 1</igx-list-item>
    <igx-list-item>Item 2</igx-list-item>
    <igx-list-item>Item 3</igx-list-item> -->
</igx-list>